<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABC | Update Profile</title>
    <link rel="stylesheet" href="css/update.css" />
  </head>
  <body>
    <main>
      <div id="update-settings">
        <ul>
          <li><a href="/password">Update Password</a></li>
          <li><a href="/email">Update Email</a></li>
          <li><a href="/username">Update Username</a></li>
        </ul>
      </div>
    </main>
  </body>
</html>
