<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABC | Update Email</title>
    <link rel="stylesheet" href="css/updateinfo.css" />
  </head>
  <body>
    <main>
      <div id="box">
        <form action="/email" method="post">
          <div>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div>
            <button type="submit">Update</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
