<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABC | Update Password</title>
    <link rel="stylesheet" href="css/updateinfo.css" />
  </head>
  <body>
    <main>
      <div id="box">
        <form action="/password" method="post">
          <div>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </div>
          <div>
            <button type="submit">Update</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
